*.pdf binary
*.png binary
*.otf binary
*.zip binary
app/resources/cmaps/* -whitespace

*.cmd text eol=crlf
*.command text eol=lf
*.sh text eol=lf
*.py text eol=lf

*.jpg binary
app/resources/tex/aastex.cls text eol=lf -whitespace linguist-vendored
app/resources/tex/AASTeX-LICENSE text eol=lf -whitespace linguist-vendored
